<template name="index">


      <div class="red darken-3" id="panelEmEdicao" style="display:none; position:absolute;top:0px;left:0px; float:right;">
        <span class="flow-text" style="color:white;">EM EDIÇÃO</span>
      </div>


    <div class="row s12 m12" style="width:100%;padding:5px;">

      <div class="col" style="position:fixed;float:right;right:10px;top:1opx; width:300px;z-index:9999;">
                    <a class="dropdown-button btn" href="#!" data-activates="dropdownEdicao" style="width:100%;">
                        Inserir...<i class="material-icons right">arrow_drop_down</i>
                    </a>

      </div>

      <div class="col s12 m12" style="margin:0px;width:100%;">

        <div id="map" class="map {{pm}}" ></div>
    <div id="popup" class="ol-popup">
      <div id="popup-content"></div>
    </div>




        <div class="fixed-action-btn" id="buttonsEdicao" style="bottom: 45px; right: 24px; display:none;">
            <a href="javascript:salvarEdicao();" class="btn-floating btn-large waves-effect waves-light green" id="salvarEdicao" style="display:block;float:right;position:relative;"><i class="material-icons">done</i></a>
            <a href="javascript:cancelarEdicao();" class="btn-floating btn-large waves-effect waves-light red" id="cancelarEdicao"  style="display:block;float:right;position:relative;"><i class="material-icons">input</i></a>

        </div>


     </div>
    </div>
  <!-- Modal Trigger -->





   <!-- Dropdown Structure - Edição -->
<ul id="dropdownEdicao" class="dropdown-content">
  <li><a href="#!" id="insertPolygon">Polígono</a></li>
  <li><a href="#!" id="insertPolyline">Linha</a></li>
</ul>


        <footer class="page-footer green darken-3" style="margin:0px;">
          <div class="container">
              <div id="output" style="display:none"> </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <span class="right"> © 2016 Copyright - Geoline Inovação </span>
            </div>
          </div>
        </footer>


</template>


<template name="InsertPlacemark">
    <div class="modal-content">
    <form>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" name="nome_placemark" id="nome_placemark" type="text" class="validate">
          <label for="nome_placemark">Nome</label>
        </div>
        <div class="input-field col s6">

            <select name="selectFolder" id="selectFolder">
            <option value="" disabled selected>Escolha uma opção</option>
            <option value="Vestuário">Vestuário</option>
            <option value="Alimentação">Alimentação</option>
            <option value="Papelaria">Papelaria</option>
            </select>
            <label for="selectFolder">Camada</label>

        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="500,00" name="campo_aluguel" id="campo_aluguel" type="text" class="validate">
          <label for="campo_aluguel">Aluguel</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="300,00" name="campo_area" id="campo_area" type="text" class="validate">
          <label for="campo_area">Área (m2)</label>
        </div>>
      </div>
    </form>
  </div>



    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" id="salvarPlacemark" class=" modal-action modal-close waves-effect waves-green btn-flat">Salvar</a>
      <a href="#!" id="cancelarInsercao" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</template>
