<template name="default">
    {{>bertAlert}}
    <div class="container">
        {{>header}}
        {{#if loggingIn}}
            {{> loading}}
        {{else}}
            {{#if authenticated}}
                {{#unless redirectAuthenticated}}
                    {{> Template.dynamic template=yield}}
                {{/unless}}
            {{else}}
                {{#unless redirectPublic}}
                    {{> Template.dynamic template=yield}}
                {{/unless}}
            {{/if}}
        {{/if}}
    </div><!--container-->
</template>
